<!DOCTYPE html>
<html>
<body>
<div style="margin-left: 600px">
<h2>HTML Forms</h2>

<form action="/admin/news" method="POST" enctype="multipart/form-data">
  
  <input type="hidden" name="_id" >
  fullname<br>
  <input type="text" name="title" >
  <br>
  memberLogin<br>
  <input type="file" name="images">
  <br><br>
  memberPass<br>
  <input type="text" name="timeUpdate" >
  <input type="submit" value="Submit">
</form> 
</div>
</body>
</html>
